# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
*.o
qclient-app
qserver-app
*.log
docker-server
qh3server-app
docker-qh3server
docker-qstats-crawler
qstats-crawler-app
docker-qh3client
qh3client-app
qunityplugin/qunityplugin_android_proj/app/release
qh3server/logs
qh3server/stats
qserver/glogs
qh3server/configs
*.blob
macos
qunityplugin/qunityplugin_unity_proj/qunitysdk/source/libs
*.stacks
qh3sampleserver/logs
qh3sampleserver/stats
libqh3server.a
qh3sampleserver-app
docker-qh3sampleserver
docker-qserver
qsampleserver/glogs
libqserver.a
qsampleserver-app
docker-qsampleserver
qunitysdk.d
*.d
qfist-app
docs/sphinx/source/__pycache__
docs/doxygen-build
qh3client-test-app
qh3client-test-results.rst
qh3client-test-results.xml
deploymentTargetSelector.xml
other.xml
docs/sphinx/source/plot_extension/__pycache__
summary-*.csv
IDEWorkspaceChecks.plist
qgfist-app
qunityplugin/release_build
qsampleserver/gstats
qserver/gstats
scripts/__pycache__
libserverplugin-debug.dylib
libserverplugin.dylib
libserverplugin-debug.so
libserverplugin.so
serverplugin_ts_proj/dist
serverplugin_ts_proj/logs
serverplugin_ts_proj/node_modules
serverplugin_ts_proj/stats
qunityplugin/qunityplugin_ts_proj/dist
qunityplugin/qunityplugin_ts_proj/node_modules
serverplugin_ts_proj/glogs
serverplugin_ts_proj/gstats
serverplugin_lua_proj/stats
serverplugin_lua_proj/logs
serverplugin_rust_proj/logs
serverplugin_rust_proj/stats
serverplugin_rust_proj/target
libserverplugin-debug.node
libserverplugin.node
server_app_ts_proj/dist
server_app_ts_proj/glogs
server_app_ts_proj/gstats
server_app_ts_proj/logs
server_app_ts_proj/node_modules
server_app_ts_proj/stats
libserverplugin-darwin-*-debug.node
libserverplugin-darwin-*.node
libserverplugin-linux-*-debug.node
libserverplugin-linux-*.node

qunityplugin/qunityplugin_unity_proj/Assets/Packages
